body,
h1 {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100:;
}
 

button.generate-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.generate-btn:hover {
  background-color: #45a049;
}


/* Footer Format */

footer {
  display: flex;
  justify-content: center;
}

footer i {
  margin: 0 10px;
}
