body,
h1 {
  font-family: "Montserrat", sans-serif;
  height: 100%; 
  width: 100%;
}

form {
	margin: 0 auto;
	height: 100%;
	width: 90%;
	padding: 20px;
	border: 2px solid #ddd;
	background-color: #f5f5f5;
}

 section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
} 


/* Style for the submission buttons */
 input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  display: block;
  margin : 0 auto;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
} 

/* Footer Format */

footer {
  display: block;
  justify-content: center;
}

footer i {
  margin: 0 10px;
}
