body,
h1 {
  font-family: "Montserrat", sans-serif;
}
img {
  margin-bottom: -7px;
}
.w3-row-padding img {
  margin-bottom: 12px;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.w3-content {
  height: 10%;
  width: 200%;
  overflow: hidden;
}

section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 75px;
  text-align: center;
}

/* Footer Format */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer i {
  margin: 0 10px;
}
