/* Body styles */
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header styles */
h1,
h2 {
	font-family: "Montserrat", sans-serif;
	color: #333;
	font-weight: bold;
	margin-top: 40px;
}

 /* Paragraph styles */
p {
  color: #666;
  font-size: 16px;
  margin: 20px 0;
}


/* Link styles */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
} 



/* Footer Format */

footer {
  display: flex;
  justify-content: center;
}

footer i {
  margin: 0 10px;
}
