body,
h1 {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

/* Form styles */
form {
 
 	margin: 0 auto;
	height: 100%;
	width: 90%;
	padding: 20px;
	border: 2px solid #ddd;
	background-color: #f5f5f5;
}
 
.form-group {
  margin-bottom: 20px;
}

#confirmation-popup {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: $f5f5f5;
	color: #2e2e2e;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  display: block;
  margin : 0 auto;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
} 

input[type="submit"]:hover {
  background-color: #45a049;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Footer Format */

footer {
  display: block;
  justify-content: center;
}

footer i {
  margin: 0 10px;
}
